<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Helping tenants and landlords make lasting connections!</h2>
        <p class="lead">Scott Clark’s Consultancy was created to assist landlords with finding a tenant in a fast and effective manner, as well as helping tenants find their new home.  When you utilize my skills and expertise you can rest assured that I will assist in every possible way to find you the best possible solution in the most effective and economical way.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
